{% extends "admin/base_site.html" %}
{% load i18n static dashboard_tags %}
{% get_customization_settings as customization %}

{% block title %}{{ customization.title }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script src="{% static 'django_select2/django_select2.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{% static "dashboard/js/transaction_chart.js" %}"></script>
<script src="{% static "vendor/chart.js/js/chart.js" %}"></script> 
<link rel="stylesheet" href="{% static "dashboard/css/spoiler.css" %}">
<script src="{% static "dashboard/js/spoiler.js" %}"></script>
{% endblock %}

{% block content %}
  {% get_apps as apps %}
  {% if apps %}
    {% widthratio apps|length 2 1 as middle %}
  {% endif %}
  <div class="content_wrapper">
    <div class="content-apps">
      {% block content-apps %}

      <div class="content-card">
        <h4 class="content-card__title">{% get_settings_form %}</h4>
        <form class="parsing__form" action="{% url 'token_hunter:monitor_dexscreener' %}" method="POST">
          {% csrf_token %}
          <div class="settings_wrapper">
            <label for="id_monitoring_rule">Select monitoring rule:</label>
            {{ settings_form.monitoring_rule }}

            <label for="id_settings">Configure token purchase settings:</label>
            {{ settings_form.settings }}

          <div class="spoiler spoiler-filter">
            <div class="spoiler-title">
            <div class="show-icon spoiler-toggle">&nbsp;</div>
            Boost & Filter Settings</div>
            <div class="spoiler-content" style="display:none">
              <div class="settings-form_parameters">
                <div class="form-row field-boosts_min">
                  <div>
                    <div class="flex-container">
                      <label for="id_boosts_min">Enter minimum boost:</label>
                      {{ settings_form.boosts_min }}
                    </div>
                  </div>
                </div>
                <div class="form-row field-boosts_max">
                  <div>
                    <div class="flex-container">
                      <label for="id_boosts_max">Enter maximum boost:</label>
                      {{ settings_form.boosts_max }}
                    </div>
                  </div>
                </div>
                <div class="form-row field-filter">
                  <div>
                    <div class="flex-container">
                      <label for="id_filter">Enter token filter expression:</label>
                      {{ settings_form.filter }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="spoiler">
            <div class="spoiler-title">
            <div class="show-icon spoiler-toggle">&nbsp;</div>
            Stop-Loss & Take-Profit Settings</div>
            <div class="spoiler-content" style="display:none">
              <div class="settings-form_parameters">
                <div class="form-row field-take_profit">
                  <div>
                    <div class="flex-container">
                      <label for="id_take_profit">Enter take-profit value:</label>
                      {{ settings_form.take_profit }}
                    </div>
                  </div>
                </div>
                <div class="form-row field-stop_loss">
                  <div>
                    <div class="flex-container">
                      <label for="id_stop_loss">Enter stop-loss value:</label>
                      {{ settings_form.stop_loss }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="spoiler">
            <div class="spoiler-title">
            <div class="show-icon spoiler-toggle">&nbsp;</div>
            DEX Data Source</div>
            <div class="spoiler-content" style="display:none">
              <div class="settings-form_parameters">
                <div class="form-row field-take_profit">
                    <div class="flex-container">
                      {{ settings_form.source }}
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="spoiler">
            <div class="spoiler-title">
            <div class="show-icon spoiler-toggle">&nbsp;</div>
            Bot Selection</div>
            <div class="spoiler-content" style="display:none">
              <div class="settings-form_parameters">
                <div class="form-row field-take_profit">
                    <div class="flex-container">
                      {{ settings_form.bot }}
                    </div>
                </div>
              </div>
           </div>
          </div>
          </div>
            
          <div class="parsing-buttons_wrapper">
            <div class="parsing-buttons">
              <button class="watcher__button" type="submit" name="_monitoring">Monitoring Tokens 📈</button>
              <button class="watcher__button" type="submit" name="_parsing">Parsing Top Traders 👛</button>
            </div>
            {% get_celery_tasks_id as celery_tasks_id %}
            <p>
              <b>Token price tracking:</b>
              {% if celery_tasks_id.track_tokens_task_id %} 
              ✅ / <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=celery_tasks_id.track_tokens_task_id.0 %}">Stop</a>
              {% else %} ❌ / <button class="track_tokens__button" type="submit" name="_track_tokens">Start</button>
              
              {% endif %}
            </p>

            {% if celery_tasks_id.boosted_task_id %}
              <p class="loading"><b>Monitoring boosted tokens on DEX Screener</b></p>
              {% for boosted_id in celery_tasks_id.boosted_task_id %}
                <p class="stop_task">
                  <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=boosted_id %}">⛔ Stop instance {{ boosted_id|truncatechars:10 }}</a>
                </p>
              {% endfor %}
            {% endif %}

            {% if celery_tasks_id.latest_task_id %}
            <p class="loading"><b>Monitoring recently added tokens on DEX Screener</b></p>
            {% for latest_task_id in celery_tasks_id.latest_task_id %}
              <p class="stop_task">
                <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=latest_task_id %}">⛔ Stop instance {{ latest_task_id|truncatechars:10 }}</a>
              </p>
            {% endfor %}
          {% endif %}

            {% if celery_tasks_id.filter_task_id %}
            <p class="loading"><b> Monitoring filtered tokens on DEX Screener</b></p>
            {% for filter_task_id in celery_tasks_id.filter_task_id %}
              <p class="stop_task">
                <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=filter_task_id %}">⛔ Stop instance {{ filter_task_id|truncatechars:10 }}</a>
              </p>
            {% endfor %}
          {% endif %}

          {% if celery_tasks_id.parsing_task_id %}
          <p class="loading"><b>Выполняется парсинг топа кошельков</b></p>
          {% for parsing_task_id in celery_tasks_id.parsing_task_id %}
            <p class="stop_task">
              <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=parsing_task_id %}">⛔ Остановить экземпляр {{ parsing_task_id|truncatechars:5 }}</a>
            </p>
          {% endfor %}
        {% endif %}

          </div>
        </form>
      </div>

      <div class="content-card">
        <table class="table">
          <caption>
            <h4 class="content-card__title">{% get_top_traders %}</h4>
          </caption>
          <tbody>
            <th>Wallet</th>
            <th style="text-align: center;">Number of Trades</th>
            {% for trader in top_traders %}
              <tr>
                <td>
                  {% get_wallet_links trader.wallet_address as wallet_link %}
                  <a href="{{ wallet_link.birdeye }}">{{ trader.wallet_address }}</a>
                </td>
                <td style="text-align: center;">
                  {{ trader.token_count }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="paginator">
          <div class="table__pagination-pages">
            {% if top_traders.has_previous %}
              <a href="?page={{ top_traders.previous_page_number }}">Prev</a>
              {% if top_traders.number > 3 %}
                <a href="?page=1">1</a>
                {% if top_traders.number > 4 %}
                  ...
                {% endif %}
              {% endif %}
            {% endif %}
            {% for num in top_traders.paginator.page_range %}
              {% if top_traders.number == num %}
                {{ num }}
              {% elif num > top_traders.number|add:'-3' and num < top_traders.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
            {% if top_traders.has_next %}
              {% if top_traders.number < top_traders.paginator.num_pages|add:'-3' %}
                ...
                <a href="?page={{ top_traders.paginator.num_pages }}">
                  {{ top_traders.paginator.num_pages }}
                </a>
              {% elif top_traders.number < top_traders.paginator.num_pages|add:'-2' %}
                <a href="?page={{ top_traders.paginator.num_pages }}">
                  {{ top_traders.paginator.num_pages }}
                </a>
              {% endif %}
              <a href="?page={{ top_traders.next_page_number }}">Next</a>
            {% endif %}
          </div>
        </div>
      </div>

    </div>
    
    <div class="content-other">

      <div class="content-card">
        <h4 class="content-card__title">Open Positions</h4>
          <div>
            {% get_open_transactions as open_transactions %}
            {% if open_transactions %}
            <table class="table">
              <tbody>
                <th>Token Name</th>
                <th>Created Date</th>
                <th>Type</th>
                <th>Mode</th>
                <th>Current PNL</th>
                {% for pair, data in open_transactions.items %}
                  <tr>
                    <td>
                      <a href="https://dexscreener.com/solana/{{ pair }}">{{ data.token_name }}</a>
                    </td>
                    <td>
                      {{ data.opening_date }}
                    </td>
                    <td>
                      <span class="{% if data.monitoring_rule == "Boosted" %}mr_boosted
                      {% elif data.monitoring_rule == "Latest" %}mr_latest
                      {% else %}mr_filter{% endif %}">
                      {{ data.monitoring_rule }}</span>
                    </td>
                    <td>
                      <span class="{% if data.mode == "Real Buy" %}mode_real-buy
                      {% elif data.mode == "Simulation" %}mode_simulation
                      {% else %}mode_data-collection{% endif %}">
                      {{ data.mode }}</span>
                    </td>
                    <td>
                      <span class="{% if data.current_pnl >= 0 %}pnl-positive
                      {% else %}pnl-negative{% endif %}">
                      {% if data.current_pnl >= 0 %}+{% endif %}{{ data.current_pnl }} %</span>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {% else %}
             No transactions.
            {% endif %}
          </div>
      </div>

      <div class="content-card">
        <div class="tabs views">
          <input class="pnl__input" id="pnlBuyTab" type="radio" name="pnl" checked> 
          <label class="pnl__label" for="pnlBuyTab">Real Buy</label> 
          <input class="pnl__input" id="pnlSimulationTab" type="radio" name="pnl"> 
          <label class="pnl__label" for="pnlSimulationTab">Simulation</label> 
          <input class="pnl__input" id="pnlCollectionTab" type="radio" name="pnl"> 
          <label class="pnl__label" for="pnlCollectionTab">Data Collection</label>
          <section class="pnl__section" id="pnlBuyContent"> 
            <div class="pnl__chart">
              <canvas id="realBuyPNL"></canvas>
            </div>
          </section>   
          <section class="pnl__section" id="pnlSimulationContent"> 
            <div class="pnl__chart">
              <canvas id="simulationPNL"></canvas>
            </div>
          </section>
          <section class="pnl__section" id="pnlCollectionContent"> 
            <div class="pnl__chart">
              <canvas id="dataCollectionPNL"></canvas>
            </div>
          </section> 
        </div>
      </div>
      
      {% endblock %}

    </div>
  </div>

{% endblock %}
