{% extends "admin/base_site.html" %}
{% load i18n static dashboard_tags %}
{% get_customization_settings as customization %}

{% block title %}{{ customization.title }}{% endblock %}

{% block extrahead %}
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css">
<script src="{% static 'django_select2/django_select2.js' %}"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script src="{% static "dashboard/js/transaction_chart.js" %}"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> 

<link rel="stylesheet" href="{% static "dashboard/css/spoiler.css" %}">
<script src="{% static "dashboard/js/spoiler.js" %}"></script>
{% endblock %}

{% block content %}
  {% get_apps as apps %}
  {% if apps %}
    {% widthratio apps|length 2 1 as middle %}
  {% endif %}
  <div class="content_wrapper">
    <div class="content-apps">
      {% block content-apps %}

      <div class="content-card">
        <h4 class="content-card__title">{% get_settings_form %}</h4>
        <form class="parsing__form" action="{% url 'token_hunter:monitor_dexscreener' %}" method="POST">
          {% csrf_token %}
          <div class="settings_wrapper">
            <label for="id_monitoring_rule">Выберите режим:</label>
            {{ settings_form.monitoring_rule }}

            <label for="id_settings">Выберите настройки для покупки токенов:</label>
            {{ settings_form.settings }}

          <div class="spoiler spoiler-filter">
            <div class="spoiler-title">
            <div class="show-icon spoiler-toggle">&nbsp;</div>
            Настройки фильтра токенов</div>
            <div class="spoiler-content" style="display:none">
              <div class="settings-form_parameters">
                <div class="form-row field-take_profit">
                  <div>
                    <div class="flex-container">
                      <label for="id_take_profit">Введите выражение с фильтром для токенов:</label>
                      {{ settings_form.filter }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="spoiler">
            <div class="spoiler-title">
            <div class="show-icon spoiler-toggle">&nbsp;</div>
            Настройки стоп-лосса и тейк-профита</div>
            <div class="spoiler-content" style="display:none">
              <div class="settings-form_parameters">
                <div class="form-row field-take_profit">
                  <div>
                    <div class="flex-container">
                      <label for="id_take_profit">Введите значение тейк-профита:</label>
                      {{ settings_form.take_profit }}
                    </div>
                  </div>
                </div>
                <div class="form-row field-stop_loss">
                  <div>
                    <div class="flex-container">
                      <label for="id_stop_loss">Введите значение стоп-лосса:</label>
                      {{ settings_form.stop_loss }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="spoiler">
            <div class="spoiler-title">
            <div class="show-icon spoiler-toggle">&nbsp;</div>
            Настройки источника данных</div>
            <div class="spoiler-content" style="display:none">
              <div class="settings-form_parameters">
                <div class="form-row field-take_profit">
                    <div class="flex-container">
                      <label for="id_take_profit">Выберите источник для получения данных о токенах:</label>
                      {{ settings_form.source }}
                    </div>
                </div>
              </div>
            </div>
          </div>

          <div class="spoiler">
            <div class="spoiler-title">
            <div class="show-icon spoiler-toggle">&nbsp;</div>
            Настройки бота для покупки</div>
            <div class="spoiler-content" style="display:none">
              <div class="settings-form_parameters">
                <div class="form-row field-take_profit">
                    <div class="flex-container">
                      <label for="id_take_profit">Выберите бота для совершения транзакций:</label>
                      {{ settings_form.bot }}
                    </div>
                </div>
              </div>
            </div>
          </div>

          </div>
            
          <div class="parsing-buttons_wrapper">
              <button class="watcher__button" type="submit" name="_monitoring">Мониторинг 👀</button>
              <button class="watcher__button" type="submit" name="_parsing">Обновить топ кошельков 📈</button>

            {% get_celery_tasks_id as celery_tasks_id %}
            <p>
              <b>Отслеживание стоимости токенов:</b>
              {% if celery_tasks_id.track_tokens_task_id %} 
              ✅ (<a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=celery_tasks_id.track_tokens_task_id.0 %}">Остановить</a>)
              {% else %} ❌ (<button class="track_tokens__button" type="submit" name="_track_tokens">Запустить</button>)
              
              {% endif %}
            </p>

            {% if celery_tasks_id.boosted_task_id %}
              <p class="loading"><b>Выполняется мониторинг забустенных токенов на DEX Screener</b></p>
              {% for boosted_id in celery_tasks_id.boosted_task_id %}
                <p class="stop_task">
                  <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=boosted_id %}">⛔ Остановить экземпляр {{ boosted_id|truncatechars:5 }}</a>
                </p>
              {% endfor %}
            {% endif %}

            {% if celery_tasks_id.latest_task_id %}
            <p class="loading"><b>Выполняется мониторинг недавно добавленных токенов на DEX Screener</b></p>
            {% for latest_task_id in celery_tasks_id.latest_task_id %}
              <p class="stop_task">
                <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=latest_task_id %}">⛔ Остановить экземпляр {{ latest_task_id|truncatechars:5 }}</a>
              </p>
            {% endfor %}
          {% endif %}

            {% if celery_tasks_id.filter_task_id %}
            <p class="loading"><b>Выполняется мониторинг токенов по фильтру на DEX Screener </b></p>
            {% for filter_task_id in celery_tasks_id.filter_task_id %}
              <p class="stop_task">
                <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=filter_task_id %}">⛔ Остановить экземпляр {{ filter_task_id|truncatechars:5 }}</a>
              </p>
            {% endfor %}
          {% endif %}

          {% if celery_tasks_id.parsing_task_id %}
          <p class="loading"><b>Выполняется парсинг топа кошельков</b></p>
          {% for parsing_task_id in celery_tasks_id.parsing_task_id %}
            <p class="stop_task">
              <a class="stop_task_link" href="{% url 'token_hunter:stop_task' task_id=parsing_task_id %}">⛔ Остановить экземпляр {{ parsing_task_id|truncatechars:5 }}</a>
            </p>
          {% endfor %}
        {% endif %}

          </div>
        </form>
      </div>

      <div class="content-card">
        <table class="table">
          <caption>
            <h4 class="table__title">{% get_top_traders %}</h4>
          </caption>
          <tbody>
            <th>Кошелёк</th>
            <th>Успешные сделки</th>
            {% for trader in top_traders %}
              <tr>
                <td>
                  {% get_wallet_links trader.wallet_address as wallet_link %}
                  <a href="{{ wallet_link.birdeye }}">{{ trader.wallet_address }}</a>
                </td>
                <td>
                  {{ trader.token_count }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div class="paginator">
          <div class="table__pagination-pages">
            {% if top_traders.has_previous %}
              <a href="?page={{ top_traders.previous_page_number }}">Назад</a>
              {% if top_traders.number > 3 %}
                <a href="?page=1">1</a>
                {% if top_traders.number > 4 %}
                  ...
                {% endif %}
              {% endif %}
            {% endif %}
            {% for num in top_traders.paginator.page_range %}
              {% if top_traders.number == num %}
                {{ num }}
              {% elif num > top_traders.number|add:'-3' and num < top_traders.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
            {% if top_traders.has_next %}
              {% if top_traders.number < top_traders.paginator.num_pages|add:'-3' %}
                <a >...</a>
                <a href="?page={{ top_traders.paginator.num_pages }}">
                  {{ top_traders.paginator.num_pages }}
                </a>
              {% elif top_traders.number < top_traders.paginator.num_pages|add:'-2' %}
                <a href="?page={{ top_traders.paginator.num_pages }}">
                  {{ top_traders.paginator.num_pages }}
                </a>
              {% endif %}
              <a href="?page={{ top_traders.next_page_number }}">Далее</a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
    
    <div class="content-other">

      <div class="content-card">
        <h4 class="content-card__title">Открытые позиции</h4>
          <div>
            {% get_open_transactions as open_transactions %}
            {% if open_transactions %}
            <table class="table">
              <tbody>
                <th>Токен</th>
                <th>Дата покупки</th>
                <th>Тип</th>
                <th>Режим</th>
                <th>Текущий PNL</th>
                {% for pair, data in open_transactions.items %}
                  <tr>
                    <td>
                      <a href="https://dexscreener.com/solana/{{ pair }}">{{ data.token_name }}</a>
                    </td>
                    <td>
                      {{ data.opening_date }}
                    </td>
                    <td>
                      {{ data.monitoring_rule }}
                    </td>
                    <td>
                      {{ data.mode }}
                    </td>
                    <td>
                      {{ data.current_pnl }} %
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>

            {% else %}
             Открытых транзакций нет
            {% endif %}
          </div>
      </div>

      <div class="content-card">
        <h4 class="content-card__title">Статистика</h4>

        <div class="tabs views"> 
          <input class="pnl__input" id="pnlBuyTab" type="radio" name="pnl" checked> 
          <label class="pnl__label" for="pnlBuyTab">Реальная покупка</label> 
          <input class="pnl__input" id="pnlEmulationTab" type="radio" name="pnl"> 
          <label class="pnl__label" for="pnlEmulationTab">Эмуляция</label> 
          <input class="pnl__input" id="pnlCollectionTab" type="radio" name="pnl"> 
          <label class="pnl__label" for="pnlCollectionTab">Сбор данных</label>
          <section class="pnl__section" id="pnlBuyContent"> 
            <div class="pnl__pie">
              <canvas id="realBuyPNL"></canvas>
            </div>
          </section>   
          <section class="pnl__section" id="pnlEmulationContent"> 
            <div class="pnl__pie">
              <canvas id="emulationPNL"></canvas>
            </div>
          </section>
          <section class="pnl__section" id="pnlCollectionContent"> 
            <div class="pnl__pie">
              <canvas id="dataCollectionPNL"></canvas>
            </div>
          </section> 
        </div> 
      </div>
    </div>
  </div>

{% endblock %}
