/* User menu */

.user_wrapper {
    grid-column: 2;
    display: flex;
    justify-self: end;
    align-items: center;
}

.user {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: end;
}

.user__link:link,
.user__link:visited,
.user__link:active,
.user__link:hover {
    color: #ffffff;
}

.user__item {
    padding: 6px 10px;
    background: #4d4d4dbd;
    vertical-align: middle;
}

.user__item:first-child {
    border-radius: 5px 5px 0 0;
}

.user__item:last-child {
    border-radius: 0 0 5px 5px;
}

.user__item:hover {
    background: #2c2c2cde;
}

.user__icon {
    padding-right: 10px;
    vertical-align: middle;
    font-size: 22px;
}

.user__menu {
    overflow: hidden;
    position: absolute;
    top: 34px;
    z-index: 1;
    width: 80%;
    right: 0;
    translate: -30px 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
    min-width: 200px;
}

.user__menu.open {
    translate: 0 0;
    opacity: 1;
    visibility: visible;
}
 
#expand-user-menu {
    margin-right: 10px;
}

/* Sidebar */

.sidebar {
    width: 260px;
    background-color: #2d3748;
    padding: 24px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4a5568;
    list-style-type: none;
}

.sidebar__logo a {
    font-size: 1.8rem;
    font-weight: 600;
    color: #cbd5e0;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
}

.sidebar__logo svg {
    width: 32px;
    height: 32px;
    margin-right: 0.75rem;
    color: var(--color-accent);
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 0.75rem 1rem;
    color: #c1c1c1 !important;
    border-radius: 0.375rem;
    margin-bottom: 0.5rem;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    text-decoration: none;
}

.nav-link:hover, .nav-link.active {
    background-color: #515151;
    color: #e2e8f0;
}
.nav-link svg {
    width: 20px;
    height: 20px;
    margin-right: 0.75rem;
}

.sidebar__close-icon {
    text-align: right;
}

/* Top navigation */

.top-navigation {
    position: relative;
    grid-column: 1;
    display: flex;
    align-items: center;
    justify-content: start;
    align-content: center;
}

.top-menu, 
.top-search,
.sidebar__close-icon {
    display: none;
}

.top-menu,
.top-search {
    color: var(--color-accent)
}

.top-search {
    padding: 0 5px 0;
}
